$primary-color: #e5e5e5;
$secondary-color: #b1a7a5;
$tertiary-color: #ea3057;
$fourth-color: #191919;

$medium-space: 10px;
$large-space: 20px;

$border: 2px solid black;
$border-rounding: 25px;
*{
    margin: 0;
    padding: 0;
    font-family: Cormorant, Verdana, Geneva, Tahoma, sans-serif;
    font-style: bold;
    box-sizing: border-box;
    background-color: $primary-color;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 4%;

    &__child {
        color: $fourth-color;
        font-size: 20px;
        letter-spacing: 1px;
        cursor: pointer;

        &-item {
            list-style: none;
            display: inline-block;
        }

        
    }

}

main {
    .intro{
        position: absolute;
        top: 50%;
        left: 8%;
        transform: translateY(-50%);

        h1 {
            color: $tertiary-color;
            margin: 20px 0px 20px;
            font-size: 75px;
        }

        h3 {
            color: $tertiary-color;
            font-size: 25px;
            margin-bottom: 50px;
        }

        h4 {
            color: $tertiary-color;
            letter-spacing: 2px;
            font-size: 20px;
        }
    }
}
    