* {
  margin: 0;
  padding: 0;
  font-family: Cormorant, Verdana, Geneva, Tahoma, sans-serif;
  font-style: bold;
  box-sizing: border-box;
  background-color: #e5e5e5;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 4%;
}
.navbar__child {
  color: #191919;
  font-size: 20px;
  letter-spacing: 1px;
  cursor: pointer;
}
.navbar__child-item {
  list-style: none;
  display: inline-block;
}

main .intro {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
}
main .intro h1 {
  color: #ea3057;
  margin: 20px 0px 20px;
  font-size: 75px;
}
main .intro h3 {
  color: #ea3057;
  font-size: 25px;
  margin-bottom: 50px;
}
main .intro h4 {
  color: #ea3057;
  letter-spacing: 2px;
  font-size: 20px;
}
main .about img {
  border-radius: 25px;
  height: auto;
}