* {
  margin: 0;
  padding: 0;
  font-family: Cormorant, Verdana, Geneva, Tahoma, sans-serif;
  font-style: bold;
  box-sizing: border-box;
  background-color: #e5e5e5;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 4%;
}
.navbar__child {
  color: #191919;
  font-size: 20px;
  letter-spacing: 1px;
  cursor: pointer;
}
.navbar__child-item {
  list-style: none;
  display: inline-block;
}

nav ul li a:hover {
  color: #ea3057;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}